body {
  margin: 0 auto;
  background-image: linear-gradient(to left, orange, green);
  color: #ffffff;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  gap: 30px;
}

nav {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
}
nav .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

a {
  display: inline-block;
}
a:hover {
  background-color: #4caf50;
  color: #ffffff;
}

.nav-left .btn .log-in {
  outline: none;
  border: none;
}
.nav-left .btn .log-in:hover {
  background-color: #4caf50;
}
.nav-left .btn .sign-up {
  outline: none;
  border: none;
}
.nav-left .btn .sign-up:hover {
  background-color: #4caf50;
}

.hero-header {
  font-size: 60px;
  text-align: center;
}
.hero-header .star {
  color: brown;
}

.hero-image {
  margin-left: 28%;
}

.no {
  text-align: center;
  font-size: 40px;
}

.hero-about {
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 40%;
  box-sizing: border-box;
}
.hero-about .quote {
  font-size: 40px;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}

.about-header {
  text-align: center;
  font-size: 40px;
}

.hero-about {
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 40%;
  box-sizing: border-box;
}
.hero-about .quote {
  font-size: 40px;
}

.about-container {
  margin: 5%;
  padding: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.about-container .vision-image {
  border: 15px solid #ffffff;
  border-radius: 10px;
}
.about-container .about-text {
  margin-bottom: 10%;
}
.about-container .about-h1 {
  font-size: 40px;
}
.about-container .about-p {
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
}

.feedback-container {
  margin: 5%;
  padding: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.feedback-container .juice {
  width: 600px;
  height: 600px;
  border: 15px solid #ffffff;
  border-radius: 10px;
}

.contact-hero {
  font-size: 35px;
  margin-left: 100px;
}
.contact-hero .feedback {
  font-size: 60px;
}

.hero-feedback {
  margin-left: 100px;
  margin-right: 45%;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 40%;
  box-sizing: border-box;
}

.label {
  font-size: 30px;
  margin-left: 40%;
}

.box {
  outline: none;
  border: none;
  width: 350px;
  height: 60px;
  border-radius: 15px;
  margin-left: 40%;
}

.box-submit {
  outline: none;
  border: none;
  width: 200px;
  height: 60px;
  margin-left: 45%;
}
.box-submit:hover {
  background-color: #4caf50;
}