@use "./variables" as *;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    background-color:$light-grey;
    color: black;
    font-family:  'Segoe UI', Verdana, Arial, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
    gap: 30px;
}