@use "./variables" as *;
body{
    background-image:linear-gradient(to left,orange,green) ;
    color: $white;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
    gap: 30px;
}