@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;
.hero-header{
    font-size: 60px;
    text-align: center;
    .star{
        color: $secondary-color;
    }
}
.hero-image{
    margin-left: 28%;
    
    
}
.no{
    text-align: center;
    font-size: 40px;
    padding: 20px;
   
}
.pineapple{
    color: $primary-color;
}
.arrow{
    color: $secondary-color;
}
.arrow-2{
    color: $primary-color;
}
.hero-about{
    margin:0 auto;
    text-align: center;
    font-size: 30px;
    @include flex(space-between,center);
    width: 40%;
    box-sizing: border-box;
    .quote{
        font-size: 40px;
    }
   
}

// media queries
@media screen and (max-width: 600px) {
    .hero-header {
      font-size: 40px;
    }
  
    .hero-image {
      width: 10%;
      display: none; 
    }
    .hero-about{
        font-size: 20px;
    }
  }