@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;
nav{
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
   .nav{
    @include flex(space-between,center)
   }
   ul{
    @include flex(space-between,center)
   }
}
a{
    
    display: inline-block;
    &:hover{
        background-color: $primary-color;
        color: $white;
    } 
}
.nav-left{
.btn{
.log-in{
    outline: none;
    border:none;
    outline: none;
    border: none;
    width: 100px;
    height: 40px;
    margin-left: 45%;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: $primary-color;
    }
}
.sign-up{
    outline: none;
    border:none;
    outline: none;
    border: none;
    width: 100px;
    height: 40px;
    margin-left: 45%;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: $primary-color;
    }
   
}
}
}

// media queries 
@media (max-width: 600px){
    .nav-center{
       display: none;
    }
    .nav-left{
        @include flex(space-between,center);
    .signup-login{
        display:inline-block;
       }
    }
}  