@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;
.about-header {
  text-align: center;
  font-size: 40px;
}
.hero-about {
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  @include flex(space-between, center);
  width: 40%;
  box-sizing: border-box;
  .quote {
    font-size: 40px;
  }
}
