@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;
.about-header {
  text-align: center;
  font-size: 40px;
  padding-top: 50px;
  padding-bottom: 100px;
}
.hero-about {
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  @include flex(space-between, center);
  width: 40%;
  box-sizing: border-box;
  @media (max-width: 768px) {
    font-size: 25px;
    width: 80%;
  }
  .quote {
    font-size: 40px;
    @media (max-width: 768px) {
      font-size: 30px;
    }
  }
  
}

.about-container{
  margin: 5%;
  padding: 5%;
  @include flex(space-between, center);
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 10%;
  }
  .vision-image{
    border: 15px solid $white;
    border-radius: 10px;
  }
  .about-text{
    margin-bottom: 10%;
  }
  .about-h1{
    font-size: 40px;
  }
  .about-p{
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
  }
}
